@font-face {
  font-family: 'BYekan';
  src: url('./font/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('./font/BYekan.ttf') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	   local('B Yekan'), /* Search For Local Font, If Can't Find WebFont */
       url('./font/BYekan.woff') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
	   unicode-range: U+0600–06FF;
}
@font-face {
  font-family: 'BMitra';
  src: url('./font/BMitra.eot?#') format('eot'),  /* IE6–8 */
       url('./font/BMitra.ttf') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	   local('B Mitra'), /* Search For Local Font, If Can't Find WebFont */
       url('./font/BMitra.woff') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
	   unicode-range: U+0600–06FF;
}
body{
	direction:rtl;
	font-family:BYekan;
	font-size:12px;
	background-color:white;
	color:black;
}
#show_date_shamsi{
	text-align: center;
    margin: 0 auto;
}
#show_date_gregorian{
	text-align: center;
    margin: 0 auto;
    font-size:0.9em;
   /*font-size:10px;*/
}